.headerBottom {
    display: flex;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(44, 44, 44, 0.5) 100%), url("../../../assets/bc.png") center;
    background-size: cover; /* Фон растягивается на весь блок */
    background-repeat: no-repeat; /* Убираем повторение фона */
    background-attachment: fixed; /* Фиксируем фон относительно окна просмотра */
    overflow: hidden;
    justify-content: space-between;
    padding: 1rem; /* Отступы внутри */
}
.displayLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.displayLeftTop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 900px;
    padding: 0 0rem 0.5rem 4rem;
}

.leed {
    color: #F9D267;
    font-size: 4.5rem;
    font-weight: 700;
}
.leedText {
    color: white;
    font-weight: 500;
    font-size: 3rem;
}
.line{
    top: -22rem;
    position: absolute;
    width: 100%;
    max-height: 48.75rem;
    transform: translate(-3%, 50%);
}
.etap{
    position: relative;
}
.strelka{
    position: relative;
}
.StrelkaLine{
    position: absolute;
    left: 20rem;
    top: 50%;
    transform: translate(-50%, 50%);
}
.displayLeftBottom{
    display: flex;
    justify-content: space-around;
    top: 34rem;
    left: 12rem;
    gap: 3rem;
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 20px;
}
.displayLeftBottom div{
}
.displayLeftBottomFirst, .displayLeftBottomSecond{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.displayRight{
    display: flex;
    flex-direction: column;
}
.contact {
    display: flex;
    flex-direction: column; /* Элементы располагаются в колонку */
    align-items: flex-end; /* Прижимаем элементы к правой стороне */
    gap: 1rem; /* Расстояние между элементами */
    padding: 20px 70px 40px 0px; /* Отступы: справа больше для правого прижатия */
}
.location{
    display: flex;
    gap: 1rem;
}
.subscribe{
    display: flex;
    gap: 1rem;
}
.Number{
    color:#F9D267;
    font-weight: 700;
    text-decoration: underline 0.01em;
    font-size: 1.825rem;
}
.address{
    font-family: Open Runde, 'Montserrat', serif;
    font-weight: 700;
    font-size: 0.875rem;
    color: #EFEFEF;
}
.aboutProject{
    display: flex;
    flex-direction: column;
}
.ourProject{
    padding-left: 18rem;
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 1.875rem;
    font-style: italic;
}

.dom{
    padding-right: 50px;
}
.personalProject {
    position: relative; /* Контейнер становится контекстом для позиционирования */
    width: fit-content; /* Подгон ширины под содержимое */
    margin: 2rem auto;
    text-align: center;
}

.polosa {
    width: 100%; /* Полоса занимает всю ширину */
    height: auto; /* Пропорциональная высота */
    position: relative; /* Позиционирование относительно родителя */
    left: -5%; /* Сдвиг полосы левее на 10% */
}

.projectText {
    position: absolute; /* Абсолютное позиционирование внутри контейнера */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Коррекция смещения для точного центрирования */
    color: #000; /* Цвет текста */
    font-size: 20px; /* Размер шрифта */
    font-weight: 600; /* Толщина шрифта */
    white-space: nowrap; /* Предотвращение переноса текста */
    text-align: right;
    font-style: italic;
}
.garant{
    padding-bottom: 20px;
}

@media screen and (max-width: 1186px) {
    .contact {
        align-items: center; /* Перемещаем элементы влево */
        padding: 20px 0px 40px 20px; /* Уменьшаем отступы */
    }
}


@media screen and (max-width: 1070px) {
    .ourProject{
        padding-left: 30px;
    }
}
@media screen and (max-width: 855px) {
    .headerBottom {
        flex-direction: column;
        align-items: center;
    }

    .polosa{
        display:none;
    }
    .projectText{
        display:none;
    }
    .ok{
        display:none;
    }
    .inputs{
        background-color: #F9D267;
        padding: 6px;
        color: #000;
        font-weight: 500;
        max-width: 488px;
    }
    .displayLeftBottomFirst{
        gap: 30px;
    }
    .displayLeftBottom{
        padding:0;
    }
    .displayLeft, .displayRight {
        width: 100%;
        padding: 1rem;
    }

    .leed {
        font-size: 3rem;
    }

    .leedText {
        font-size: 2rem;
    }

    .displayLeftBottom {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    .Number, .address, .subscribe {
        display: none; /* Убираем блок контактов */
    }

    .ourProject {
        text-align: center;
        font-size: 1.5rem;
    }
    .ourProject{
        padding-left: 0px;
        padding-right: 50px;
    }
    .contact{
        display: none;
    }
    .projectText{
        font-size: 15px;
    }

    .dom {
        content: url("../../../assets/main_dom2.png"); /* Указываем путь к новой картинке */
        width: 90%;
        margin: auto;
        padding: 0px 0px 0px 20px;
    }
    .displayRight{
        padding: 0px;
    }
}

@media screen and (max-width: 450px) {
    .projectText{
        font-size: 11px;
    }
    .displayLeftTop{
        padding: 0;
    }
}