# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Virtual environment
backendDomPlus/venv/
*.pyc
__pycache__/

# Environment variables
backendDomPlus/.env
backendDomPlus/.flaskenv

# Token and sensitive data files
backendDomPlus/access_token.txt
backendDomPlus/refresh_token.txt
backendDomPlus/authdata.json

# Log files
backendDomPlus/*.log

# PyCharm project files
backendDomPlus/.idea/

# Byte-compiled / optimized / DLL files
backendDomPlus/*.py[cod]
backendDomPlus/*.so

# Static files
backendDomPlus/static/

# Templates cache
backendDomPlus/templates/

# Store files
backendDomPlus/store/
