.header{
    display: flex;
    background-color: #404944;
    justify-content: space-around;
    box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.25);
    padding: 0.25rem;
    align-items: center;
}
a{
    color: #EFEFEF;
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
}
.controlPanel{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.bid{
    display: flex;
    align-items: center;
    background-color: #F9D267;
    box-shadow: 0 0 0.7125rem  #FFD83A;
    border-radius: 3.125rem;
    padding: 1em;
    max-height: 3rem;

}
p{
    font-size: 1em;
    color: #EFEFEF;
}
button{
    background-color: transparent;
    border: none;
    font-size: 1em;

}
