.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #F3F3F3;
    gap: 3rem;
}
.ourProjects{
    color: black;
    font-family: Montserrat;
    font-size: 1.875rem;
    font-weight: 400;
    text-align: center;

}
.oneProject {
    width: 35.125rem;
    height: 26.625rem;
    border-radius: 2.344rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Добавление плавной анимации */
    cursor: pointer; /* Указатель для обозначения кликабельности */
}
.projectBackground1 {
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.3) 0%, rgba(0, 0, 0, 0.4) 100%), url("../../../assets/projects/proj2_70/proj2_1.jpg") center;
    background-size: cover;
}

.projectBackground2 {
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.3) 0%, rgba(0, 0, 0, 0.4) 100%), url("../../../assets/projects/proj4_80/proj4_1.jpg") center;
    background-size: cover;
}
.projectBackground3 {
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.3) 0%, rgba(0, 0, 0, 0.4) 100%), url("../../../assets/projects/proj7_110/proj7_1.jpg") center;
    background-size: cover;
}

.projectBackground4 {
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.3) 0%, rgba(0, 0, 0, 0.4) 100%), url("../../../assets/projects/proj9_140/proj9_1.jpg") center;
    background-size: cover;
}

.oneProject:hover {
    transform: scale(1.05); /* Увеличение на 5% при наведении */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Добавление тени для эффекта */
}

.oneProject:active {
    transform: scale(0.95); /* Уменьшение при нажатии */
}
.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 6rem;
    justify-content: center;
}
.imageTopText{
    color: #FFFFFF;
    position: relative;
    top: 22rem;
    left: 2rem;
}
.imageBottomText{
    color: #FFFFFF;
    position: relative;
    top: 22rem;
    left: 2rem;
    font-weight: 800;
    font-size: 2.5rem;
}
.contentBottom{
    background-color: #404944;
    border-radius: 3rem;
}
.more{
    font-family: Montserrat;
    font-size: 1.875rem;
    font-weight: 500;
    text-align: center;
    color: white;
    padding: 1rem 5rem 1rem 5rem;
}

@media (max-width: 1024px) {
    .oneProject {
        width: 20rem; /* Уменьшение ширины карточек */
        height: 16rem; /* Уменьшение высоты карточек */
    }

    .imageBottomText{
        display: none;
    }
    .projects {
        gap: 2rem; /* Уменьшение промежутков между карточками */
    }
}

@media (max-width: 768px) {
    .oneProject {
        width: 20rem;
        height: 16rem;
    }

    .imageBottomText {
        font-size: 1.8rem;
    }

    .ourProjects {
        font-size: 1.5rem; /* Уменьшение размера заголовка */
    }

    .projects {
        gap: 1.5rem;
    }
}

@media (max-width: 480px) {
    .oneProject {
        width: 20rem;
        height: 16rem;
    }

    .imageBottomText {
        font-size: 1.5rem;
    }
}