.main{
    display: flex;
    background-color: #F3F3F3;
    flex-direction: column;
}
.middleContent{
    padding: 2rem 8rem 1rem 8rem;
    display: flex;
    flex-direction: row;
}
.contentLeft{
    width: 100%;
}
.contentOne {
    width: 100%;
    height: max-content;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    border-radius: 2.11rem 0 0 2.11rem;
}
.amg{
    max-width: 750px;
    max-height: 500px;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.contentRight{
    background-color: #E9E9E9;
    border: 0.043rem solid #BFBFBF;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 0 2.11rem 2.11rem 0;
}
.contentRightTop{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contentRightTopFirstText{
    color: black;
    font-family: Montserrat, serif;
    font-size: 1.3rem;
    font-weight: 700;
}
.contentRightTopSecondText {
    font-family: Montserrat, serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}
.contentRightTopThirdText{
    font-family: Montserrat,serif;
    font-size: 0.95rem;
    font-weight: 400;
    color: black;
}
.contentRightTopFourthlyText{
    font-family: Montserrat,serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
}
.contentMiddleText{
    color: black;
    font-family: Montserrat, serif;
    font-size: 1.13rem;
    font-weight: 500;
}
.contentRightMiddle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contentRightManager{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.contentRightBottom{
    display: flex;
    justify-content: center;
}
.bottomButton{
    background-color:#F9D267;
    box-shadow: 0 0 0.534rem 0 #FFD83A;
    color: black;
    padding: 1rem;
    border-radius: 2.344rem;
}
.slider{
    position: absolute;
    top: 90%;
    transform: translate(18%, -50%);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.amg {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 2.11rem;
    border-bottom-left-radius: 2.11rem; 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.slider {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem;
}

.slider img {
    height: 60px; 
    width: 75px;
    border-radius: 10px; 
    cursor: pointer; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.slider img:hover {
    transform: scale(1.1);
}

.slider img:active {
    transform: scale(0.95);
}