.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.3) 0%, rgba(0, 0, 0, 0.4) 100%);
    border-radius: 2.344rem;
}

.projects {
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос элементов на следующую строку */
    gap: 1rem; /* Устанавливаем отступы между карточками */
    justify-content: space-between; /* Распределяем карточки равномерно */
}
.projectImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.textContainer {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    color: #FFFFFF;
}

.imageTopText {
    font-size: 1.3rem;
    font-weight: 400;
}

.imageBottomText {
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0.5rem;
}

.oneProject {
    border-radius: 2.344rem;
    position: relative;
    width: calc(33.33% - 2rem); /* Ширина каждой карточки 33.33% - с учетом промежутка */
    height: 26rem;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.oneProject:hover {
    transform: scale(1.05) !important; /* Увеличиваем карточку на 5% при наведении */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
}

.oneProject:active {
    transform: scale(0.98) !important; /* Эффект "щелчка" при клике */
}

@media (max-width: 1000px) {
    .main{
        padding: 10px;
    }
    .imageBottomText {
        font-size: 1.5rem;
    }
    .oneProject {
        width: calc(50% - 1rem); /* Изменяем ширину на 50% */
        height: 16rem; /* Уменьшаем высоту */
    }

    .projects {
        gap: 1rem; /* Уменьшаем промежутки между карточками */
    }

    .imageBottomText {
        font-size: 1.5rem; /* Уменьшаем размер текста */
    }

    .imageTopText {
        font-size: 1rem; /* Уменьшаем верхний текст */
    }
}

@media (max-width: 760px) {
    .imageBottomText {
        font-size: 1.1rem;
    }
    .main{
        padding: 10px;
    }
    .oneProject {
        max-width: 300px; /* Изменяем ширину на 50% */
        max-height: 300px; /* Уменьшаем высоту */
    }
    .projects{
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .imageBottomText {
        font-size: 1rem;
    }
    .main{
        padding: 10px;
    }
    .oneProject {
        width: 100%; /* Карточка занимает всю ширину */
        height: 12rem; /* Еще больше уменьшаем высоту */
    }

    .imageBottomText {
        font-size: 1.3rem; /* Еще меньше размер текста */
    }

    .imageTopText {
        font-size: 0.9rem; /* Меньший верхний текст */
    }
    .projects{
        justify-content: center;
    }
}

@media (max-width: 390px) {
    .imageBottomText {
        font-size: 1rem;
    }
    .main{
        padding: 10px;
    }
    .oneProject {
        width: 100%; /* Карточка занимает всю ширину */
        height: 14rem; /* Еще больше уменьшаем высоту */
    }
    .projects{
        justify-content: center;
    }
}